<html>
<head>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery-1.11.3.min.js"></script>
  <script src="bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" width="40" height="20" src="/images/icone-eye-navbar.png">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/upload">Upload Pictures</a></li>
        <li><a href="/annonce">Annonces</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="jumbotron">
          <div class="container">
            <h1><img alt="Brand" src="/images/icone-eye-navbar.png"> Mobile Project!</h1>
            <p>This is where you create the annonces and upload the images. It is made with AngularJS and the famous Bootstrap. All the code was made by Anthony Quinault from CADE SOFT.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; 2016 CADE SOFT</p>
    </footer>    

  </div> 

</body>
</html>